.volunteer-registration-container {
  min-width: 100%;

}
.volunteer-registration-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.volunteer-registration-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.volunteer-registration-form-group, .volunteer-registration-form-group1 {
  display: flex;
  flex-direction: column;
}

.volunteer-registration-form-group label,
.volunteer-registration-form-group1 label {
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 5px;
  color: #555;
}
.volunteer-registration-form-group1 select,
.volunteer-registration-form-group input,
.volunteer-registration-form-group select,
.volunteer-registration-form-group textarea {
  padding: 8px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.volunteer-registration-form-group input:focus,
.volunteer-registration-form-group select:focus,
.volunteer-registration-form-group textarea:focus {
  border-color: #024091;
}

/* Textarea Styling */
.volunteer-registration-form-group textarea {
  resize: vertical;
  min-height: 100px;
}

/* Row Styles */
.volunteer-registration-row {
  display: flex;
  gap: 15px;
}

.volunteer-registration-row .volunteer-registration-form-group {
  flex: 1;
}

/* Required Indicator */
.required {
  color: red;
}

/* Terms Checkbox */
.volunteer-registration-terms {
  display: flex;
  align-items: center;
  gap: 10px;
}

.volunteer-registration-terms label {
  color: #555;
  font-size: 14px;
}

/* Submit Button */
.volunteer-registration-submit-btn {
  padding: 12px 20px;
  background-color: #024091;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.volunteer-registration-submit-btn:hover {
  background-color: #024091;
}

/* Success Popup */
.volunteer-registration-popup {
  margin-top: 20px;
  padding: 10px;
  background-color: #d4edda;
  color: #024091;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
}

@media (max-width: 768px) {
  .volunteer-registration-row {
    flex-direction: column;
  }

  

  .volunteer-registration-form {
    gap: 10px;
  }

  .volunteer-registration-title {
    font-size: 24px;
  }
}

/* For Mobile Screens (from 480px and below) */
@media (max-width: 480px) {
  .volunteer-registration-title {
    font-size: 20px;
  }

  .volunteer-registration-form-group label,
  .volunteer-registration-form-group1 label {
    font-size: 12px;
  }

  .volunteer-registration-form-group input,
  .volunteer-registration-form-group select,
  .volunteer-registration-form-group textarea {
    font-size: 12px;
  }

  .volunteer-registration-submit-btn {
    font-size: 14px;
    padding: 10px 15px;
  }

  .volunteer-registration-terms label {
    font-size: 12px;
  }
}
