/* Header Styles */
.header {
    background-color: #1a252f; /* Darker background for header */
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow for depth */
    position: relative;
    z-index: 1;
  }
  
  .profile-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 5px;
    border: 2px solid #ffffff; /* Adds a border to highlight the image */
  }
  .account-profile-names{
    display: flex;
    flex-direction: column;
  }
  .header-title {
    margin: 0;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #ecf0f1; /* Light text color for contrast */
    font-weight: 700;
    margin-right: 20px;
    white-space: nowrap; /* Prevents text from wrapping */
  }
  
  .create-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; /* Adds spacing between elements */
  }
  
  .create-button {
    padding: 7px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    background-color: #3498db; /* Bright blue background for call-to-action */
    color: #ffffff; /* White text for contrast */
    transition: background-color 0.3s ease;
  }
  .account-profile-containe{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .create-button:hover {
    background-color: #2980b9; /* Slightly darker blue on hover */
  }
  