/* General Dashboard Content */
.dashboard-content {
    padding: 20px;
    background-color: #f4f5f7;
    font-family: 'Arial', sans-serif;
  }
  
  .section-title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Issue Cards Container */
  .students-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  